body {
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.main {
  grid-area: content;
  background-color: #20232a;
}
