.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.errorInput {
  border: 1px solid red;
}

.errorMessage {
  color: red;
}

.errorMessage::before {
  display: inline;
  content: '⚠ ';
}
